:root {
    --color-text-high: #363530;
    --color-text-mid: #797874;
    --color-text-green: #3E7952;
    --color-text-red: #793E3E;
    --color-text-white: #FFFFFF;

    --color-bg-page: #F6F6F3;
    --color-bg-white: #FFFFFF;
    --color-bg-layer0: #F6F6F3;
    --color-bg-layer1: #EEEEE7;
    --color-bg-layer2: #E1E0E0;
    --color-bg-layer4: #797874;
    --color-bg-layer5: #363530;
    --color-bg-layer-none: #00000000;

    --color-border-high: #363530;
    --color-border-low: #E1E0E0;
    --color-border-none: #00000000;
}

body {
    font-family: "Manrope", serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-bg-page);
}

.container {
    max-width: 800px;
    margin: auto;
}

.profile-container {
    max-width: 480px;
    margin: auto;
}

.nav-content-div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 4px
}

.logo-item {
    font: 500 14px/20px "Manrope", sans-serif;
    padding: 4px;
    height: 40px;

    display: flex;
    align-items: center;
}

.logo-item:hover {
    background-color: var(--color-bg-layer1);
    border-radius: 4px;
}

.nav-menu-div {
    display: flex;
    gap: 4px;
    padding: 4px;
}

.nav-menu-item {
    font: 400 14px/20px "Manrope", sans-serif;
    text-decoration: none;
    color: var(--color-text-mid);

    padding: 8px;
    border: 1px solid var(--color-border-none);
    border-radius: 4px;
}

.nav-menu-item:hover {
    color: var(--color-text-high);
    border: 1px solid var(--color-border-low);
}

.nav-menu-item.active {
    color: var(--color-text-high);

    background-color: var(--color-bg-layer1);
}

.main-content-div {
    padding: 160px 0px;

    display: flex;
    flex-direction: column;
    gap: 64px;
}

.h1-body-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

h1 {
    font: 500 24px/34px "Manrope", sans-serif;
    margin: 0px;
    color: var(--color-text-high);
}

h2 {
    font: 600 16px/22px "Manrope", sans-serif;
    color: var(--color-text-high);
    margin: 0px;
}

.description {
    font: 400 14px/20px "Manrope", sans-serif;
    color: var(--color-text-mid);
    margin: 0px;
}

.list-card-div {
    display: flex;
    gap: 8px;
    align-items: center;

    border-radius: 4px;

    cursor: pointer;
}

.list-card-div:hover {
    background-color: var(--color-bg-layer2);
}

.list-prefix {
    padding: 8px;
}

.list-high-emp {
    font: 400 14px/20px "Manrope", sans-serif;
    color: var(--color-text-high);
    margin: 0px;
}

.divider {
    height: 1px;
    background-color: var(--color-border-low);
    flex: 1;
}

.list-suffix {
    padding: 8px;
}

.list-mid-emp {
    font: 400 14px/20px "Manrope", sans-serif;
    color: var(--color-text-mid);
    margin: 0px;
}

.footer-content-div {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 32px;
    align-items: center;
    margin-bottom: 8px;
}

.footer-left-div {
    display: flex;
}

.footer-links-div {
    display: flex;
    gap: 12px;
}

.footer-text {
    font: 400 14px/20px "Manrope", sans-serif;
    margin: 0px;
    color: var(--color-text-mid);
}

.footer-link-item {
    font: 400 14px/20px "Manrope", sans-serif;
    text-decoration: none;
    color: var(--color-text-mid);
}

.footer-link-item:hover {
    color: var(--color-text-high);
    text-decoration: underline;
}

.tabs-div {
    font: 400 14px/20px "Manrope", sans-serif;

    display: flex;
    padding: 0px 8px;
    gap: 0px;
}

.tab-item {
    font: 400 14px/20px "Manrope", sans-serif;
    padding: 8px;
    border-bottom: 1px solid var(--color-border-none);
    cursor: pointer;
    color: var(--color-text-mid);
}

.tab-item:hover {
    color: var(--color-text-high);
    border-bottom: 1px solid var(--color-border-low);
}

.tab-item.active {
    border-bottom: 1px solid var(--color-border-high);
    color: var(--color-text-high);
}

#allFundsList {
    display: block;
}

#allocationAnalysis {
    display: none;
}

.table-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.table-menu {
    display: flex;
    justify-content: space-between;
}

.seg-btn {
    display: flex;
    padding: 4px;
    background-color: white;
    gap: 2px;
    border-radius: 4px;
}

.seg-btn input[type="radio"] {
    display: none;
}

.seg-btn input[type="radio"]+label {
    font: 400 14px/20px "Manrope", sans-serif;
    padding: 4px;
    color: var(--color-text-mid);
    cursor: pointer;
}

.seg-btn input[type="radio"]:checked+label {
    background-color: var(--color-bg-layer0);
    color: var(--color-text-high);
    border-radius: 2px;
}

.suffix-menu {
    display: flex;
    gap: 8px;
}

.dropdown-menu {
    appearance: none;
    border: 0px;
    width: auto;

    font: 400 14px/20px "Manrope", sans-serif;
    color: var(--color-text-mid);

    background-color: var(--color-bg-layer-none);
    padding: 8px 32px 8px 8px;

}

.dropdown-menu:hover {
    color: var(--color-text-high);
}

.dropdown-menu:focus {
    outline: none;
}

.input-dropdown-box {
    display: flex;
    position: relative;

    background-color: var(--color-bg-layer1);
    border-radius: 4px;

    cursor: pointer;
}

.input-dropdown-box:hover {
    background-color: var(--color-bg-white);
}

.dropdown-icon {
    width: 16px;
    fill: var(--color-text-mid);
    padding: 10px 0px;
    position: absolute;
    right: 8px;
    pointer-events: none;
}

.dropdown-icon-2 {
    width: 16px;
    fill: var(--color-text-mid);
    position: absolute;
    right: 8px;
    padding: 2px 0px;
    pointer-events: none;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--color-bg-white);
    border: 1px solid var(--color-border-low);
    border-radius: 8px;
    margin-top: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    width: 200px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-item input[type="checkbox"] {
    margin-right: 8px;
}

.dropdown-item span {
    font-size: 14px;
    color: #333;
}

.table-comp {
    overflow: auto;
    max-height: 600px;
    display: block;
    white-space: nowrap;

    scrollbar-color: var(--color-bg-layer-none);
}

.table-comp::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    margin: 8px;
}

.table-comp::-webkit-scrollbar-thumb {
    background: var(--color-border-low);
    border-radius: 8px;
}

.table-comp::-webkit-scrollbar-thumb:hover {
    background: var(--color-border-high);
}

table {
    border-collapse: collapse;
    width: 100%;
    /* Ensures table takes full width */
    table-layout: fixed;
    /* Ensures equal distribution of column widths */
}

th {
    font: 400 12px/20px "Manrope", sans-serif;
    text-transform: uppercase;
    color: var(--color-text-mid);
    text-align: left;

    padding: 8px;
    cursor: pointer;

    border-bottom: 1px solid var(--color-border-low);
}

td {
    font: 400 14px/20px "Manrope", sans-serif;
    text-align: left;
    color: var(--color-text-high);

    padding: 8px;
    background-color: var(--color-bg-white);
}

.head-main {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--color-bg-layer0);
    border-right: 1px solid var(--color-border-low);
}

.head-list {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--color-bg-layer0);

    max-width: 200px;
    min-width: 200px;
    text-overflow: ellipsis;
    /* Truncates text with ellipsis */
    white-space: nowrap;
}

.head-main:hover {
    color: var(--color-text-high);
    background-color: var(--color-bg-layer1);
}

.head-list:hover {
    color: var(--color-text-high);
    background-color: var(--color-bg-layer1);
}

.head-main:hover .sort-path {
    fill: var(--color-text-mid);
}

.head-list:hover .sort-path {
    fill: var(--color-text-mid);
}

.sticky-cell {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #fff;
    max-width: 208px;
    min-width: 200px;
    overflow: hidden;
    border-right: 1px solid var(--color-border-low);

    text-overflow: ellipsis;
    /* Truncates text with ellipsis */
    white-space: nowrap;
    /* Prevent text wrapping */
}

.value-cell {
    max-width: 200px;
    min-width: 200px;
}

.positive {
    color: var(--color-text-green);
    font: 400 12px/16px "Manrope", sans-serif;
}

.negative {
    color: var(--color-text-red);
    font: 400 12px/16px "Manrope", sans-serif;
}

.none {
    color: var(--color-text-mid);
    font: 400 12px/16px "Manrope", sans-serif;
}

.symbol {
    font: 400 12px/16px "Manrope", sans-serif;
    color: var(--color-text-mid);
}

#monthOnMonthAnalysis {
    display: none;
}

.add-msg-div {
    background-color: var(--color-bg-white);
    min-height: 200px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.phone-input {
    flex: 1;
    display: flex;
    gap: 8px;
}

#signupPhone {
    flex: 1;
}

.h1-profile-div {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.btn-grp {
    display: flex;
    gap: 8px;
}

.input-field {
    border-radius: 4px;
    border: 1px solid var(--color-border-low);
    font: 400 12px/20px "Manrope", sans-serif;
    padding: 5px 8px;
}

.input-field:hover {
    border: 1px solid var(--color-border-high);
}

#countryCode {
    height: 32px;
}

.btn-secondary {
    font: 400 12px/20px "Manrope", sans-serif;
    border: 0px;
    background-color: var(--color-bg-layer0);
    border-radius: 4px;
    padding: 5px 12px;
}

.btn-secondary:hover {
    background-color: var(--color-bg-layer1);
}

.btn-primary {
    font: 400 12px/20px "Manrope", sans-serif;
    border: 0px;
    background-color: var(--color-bg-layer5);
    border: 1px solid var(--color-border-high);
    color: var(--color-text-white);
    border-radius: 4px;
    padding: 5px 12px;
}

.btn-primary:hover {
    background-color: var(--color-bg-layer0);
    color: var(--color-text-high);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--color-bg-white);
    margin: 15% auto;
    width: 80%;
    max-width: 320px;
    border-radius: 4px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 0px;
}

.modal-main {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#loadingIndicator {
    margin: auto;
    height: 100vh;
    font-size: 24px;
    text-align: center;
    padding: 240px;
}

.hidden {
    display: none;
}

.sort-icon-div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.sort-icon {
    min-width: 16px;
}

@media only screen and (max-width: 780px) {
    .table-menu {
        flex-direction: column;
        gap: 8px;
    }

    .tab-item {
        flex: 1;
        text-align: center;
    }

    .suffix-menu {
        flex-direction: column;
    }

    .radio-label {
        flex: 1;
        text-align: center;
    }

    .table-div {
        padding: 0px 8px;
    }

    .dropdown-menu {
        flex: 1;
        text-align: left;
    }
}